General Styling
/*body {
    background-color:#FFF6F0;
}*/





/*NavBar Styling*/
.navbar-brand {
    font-size:30px;
font-family: 'Michroma', sans-serif;
background-color:#474E5D;
margin-bottom:0px;
border-bottom:20px;
padding:20px;
}

#bs-example-navbar-collapse-1 {
     Font-family: 'Italiana', serif;
    font-size:20px;
    background-color:#474E5D;
}

/*Locations Styling*/
.rows-locations {
    margin:0px;
    padding:0px;
    border:0px;
}

.img-responsive {
    margin:0px;
    padding:0px;
    border:0px;
}

.col {
    margin:0px;
    padding:0px;
    border:0px;
}

.col-sm-8 col-md-9 {
    margin:0px;
    padding:0px;
    border:0px;
}

.col-sm-4 col-md-3 {
    margin:0px;
    padding:0px;
    border:0px;
}

.location-text {
    margin:0px;
    padding:20px;
    background-color:#474E5D;
    text-align:center;
    Font-family: 'Italiana', serif;
}

/*Location Pictures Styling*/
.row-container-locationImageOne {
    margin:auto;
}

.thumbnail {
border:none;
    border-color:white;
    padding:20px;
   
}

.div.col-sm-4 col-md-5 {
    margin:auto;
    align-items:stretch;
}

/*Review Carousel styling*/
#myCarousel {
    color:#474E5D;
    margin:50px;
}
.carousel-indicators {
    color:#474E5D;
}
#h4 {
    text-align:center;
}
#h5 {
    text-align:center;
}


/*Footer styling*/
.footer {
    Font-family: 'Italiana', serif;
    font-size:20px;
    background-color:#474E5D;
    text-align:center;
}